﻿.arrow2
        {
            margin: 3px 8px 4px 0;
            border-left: 5px dashed transparent;
            border-bottom: 5px dashed transparent;
            border-top: 5px dashed transparent;
            border-right: 5px solid #ccc;
            display: inline-block;
            vertical-align: middle;
        }
.arrow3
        {
            margin: 3px 0 4px 8px;
            border-top: 5px dashed transparent;
            border-bottom: 5px dashed transparent;
            border-right: 5px dashed transparent;
            border-left: 5px solid #ccc;
            display: inline-block;
            vertical-align: middle;
        }